.header {
    border: solid gray 5px;
    background-color: rgb(7, 25, 25);
    color: green;
    text-align: center;
}

.toastr {
    background-color: rgb(7, 25, 25);
    border: hidden;
    color: green;
}